body {
  background-color: #558C89;
  color: #D9853B;

  .container {
  max-width: 80%;
  margin: 100px auto 0px auto;
  }

  nav {
  position: fixed;
  top: 0;
  left: 0;
  }

  nav li{
    display: inline;
    list-style-type: none;
  }

  .header {
    margin-top: 0;
  }
  .content {
    background-color: #74AFAD;
    color: #ECECEA;
    padding: 75px;
    border: 3px dashed #ECECEA;
  }

  .footer{
    font-size: .8em;
  }

  .highlight{
    font-weight: bold;
    font-style: italic;
  }


div>p {
  font-size: 2em;
}
